
.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.diplomata-regular {
    font-family: "Diplomata", serif;
    font-weight: 400;
    font-style: normal;
}
.trykker-regular {
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
}
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda .universo {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.rubik-marker-hatch-regular {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
}

.universo {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.origen p {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.video h3{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

.videojuegos figcaption {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.videojuegos img {
    width: 100px;
}

:root{
    --color-fondo: #101820;
    --color-principal: #1f2a38;
    --color-secundario: #d6a756;
    --color-texto: #f5f5f5;
}

.banner{
    width: 90%;
    max-width: 1350px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.banner img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.6)
    );
}

body{
    background-color: var(--color-fondo);
    background: linear-gradient(to bottom, #101820, #1b2838);
    color: #f5f5f5;
    font-family: "Lora", serif;
}

header{
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-bottom: 3px solid var(--color-secundario);
    top: 0;
    z-index: 1000;
}

h1{
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--color-secundario);
    text-shadow:
        0px 0px 5px #000,
        0px 0px 15px rgba(214,167,86,0.5);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: var(--color-secundario);
    text-shadow: 1px 2px 5px #000;
}

section,
article{
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.1);
    border-left: 5px solid var(--color-secundario);
    border-radius: 18px;
    padding: 25px;
    margin: 30px auto;
    width: 90%;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
}

section:hover,
article:hover{
    transform: translateY(-5px);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.08);
    padding: 12px 18px;
    border-radius: 30px;
    transition: 0.3s;
    border: 1px solid transparent;
}

nav a:hover{
    background-color: var(--color-secundario);
    color: black;
    border: 1px solid white;
    transform: translateY(-3px);
}

.otras_novelas a{
    text-decoration: none;
    color: white;
    background-color: var(--color-principal);
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.otras_novelas a:hover {
    background-color: var(--color-secundario);
    transform: scale(1.1);
}


@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

section,
article{
    background: rgba(255,255,255,0.04);
    border: 2px solid var(--color-secundario);
    border-left: 5px solid var(--color-secundario);
    border-radius: 18px;
    padding: 25px;
    margin: 30px auto;
    width: 90%;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
}

img {
    border-radius: 10px;
}

input,textarea {
    border-radius: 8px;
}

.card_1,
.card_2,
.card_3,
.card_4,
.card_5{
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.card_1:hover,
.card_2:hover,
.card_3:hover,
.card_4:hover,
.card_5:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.6);
}

.card_1 img,
.card_2 img,
.card_3 img,
.card_4 img,
.card_5 img{
    width: 160px;
    max-width: 100%;
    border-radius: 12px;
    transition: 0.4s;
}

.card_1:hover img,
.card_2:hover img,
.card_3:hover img,
.card_4:hover img,
.card_5:hover img{
    transform: scale(1.08);
}

table{
    width: 100%;
    border-collapse: separate;
    overflow: hidden;
    background-color:#1f2a38;
}

th{
    background-color: var(--color-secundario);
    color: black;
    border-radius: 10px;
}

th,
td{
    padding: 14px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
}

tr:hover{
    background-color:rgba(214,167,86,.2);
}

input,
textarea{
    background-color: var(--color-fondo);
    color: white;
    border: 1px solid rgba(255,255,255,0.15);
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s;
}

input:focus,
textarea:focus{
    outline: none;
    border-color: var(--color-secundario);
    box-shadow: 0px 0px 10px rgba(214,167,86,0.5);
}

button{
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(214,167,86,0.5);
}

.contacto button{
    background-color: var(--color-secundario);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.contacto button:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
}

.contacto textarea{
    width: 100%;
    max-width: 600px;
    height: 200px;
}

.pie_pagina p{
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px){

    nav ul{
        flex-direction: column;
        align-items: center;
    }


    .cards{
        display:flex;
        justify-content:center;
        gap:25px;
        flex-wrap:wrap;
    }
}

@media (max-width: 480px){

    h1{
        font-size: 24px;
    }


    iframe{
        width: 100%;
        height: auto;
    }
}