
.lora {
font-family: "Lora", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
.diplomata-regular {
font-family: "Diplomata", serif;
font-weight: 400;
font-style: normal;
}
.trykker-regular {
  font-family: "Trykker", serif;
  font-weight: 400;
  font-style: normal;
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda .universo {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-marker-hatch-regular {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}



.universo {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.origen h2{
    font-family: "Diplomata", serif;
    font-size: 23px;
    font-weight: 600;
    font-style: normal;
}

.origen p {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
}

.videojuegos figcaption {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.videojuegos img {
    width: 100px;
}

:root{
  --color-fondo: #101820;
  --color-principal: #1f2a38;
  --color-secundario: #d6a756;
  --color-texto: #f5f5f5;
}

body{
  background-color: var(--color-fondo);
  background: linear-gradient(to bottom, #101820, #1b2838);
    color: #f5f5f5;
    font-family: "Lora", serif;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

nav a {
  text-decoration: none;
    color: white;
    background-color: var(--color-principal);
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.otras_novelas a{
  text-decoration: none;
  color: white;
  background-color: var(--color-principal);
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.otras_novelas a:hover {
  background-color: var(--color-secundario);
  transform: scale(1.1);
}

nav a:hover {
  background-color: var(--color-secundario);
  transform: scale(1.1);
}

section {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--color-secundario);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
  border-radius: 12px;
}

img {
  border-radius: 10px;
}

input,textarea {
  border-radius: 8px;
}

.card_1 {
  background-color: #585b5e;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card_2 {
  background-color: #585b5e;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card_1:hover,
.card_2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.6);
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid white;
    padding: 10px;
}

.contacto button{
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.contacto button:hover {
  background-color: var(--color-secundario);
  transform: scale(1.05);
}

@media (max-width: 768px){

    nav ul{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        flex-direction: column;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 480px){

    h1{
        font-size: 24px;
    }

    iframe{
        width: 100%;
        height: auto;
    }
}